<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

    <meta charset="UTF-8">
    {% block title -%}
    {% if title %}
        <title>Про FLASK - {{ title }}</title>
    {% else %}
        <title>Про FLASK</title>
    {% endif %}
    {% endblock %}
    
</head>

<body>


    
    <div class="clear"></div>
    <div class="content">
    {% block content -%}

        <ul class="mainmenu">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('addPost') }}">Добавить статью</a></li>
        </ul>

    
    {% if title -%}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Про FLASK</h1>
    {% endif %}
    {% endblock -%}
    </div>

</body>
</html>