
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('.static', filename='css/style.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% if menu -%}
    <ul class="mainmenu">
        <li>ADMINI-PANEL</li>
        {% for p in menu %}
        <li><a href="{{ url_for(p.url)}}">{{p.title}}</a></li>
        {% endfor %}
        <div class="clear"></div>
    </ul>
{% endif %}
<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>